<h2>Spools for <%= current_user.email %></h2>

<%= link_to "Create New Spool", new_spool_path %>
<ul class="spools">
  <% @spools.each do |spool| %>
    <%= render "spool_list_item", spool: spool %>
  <% end %>
</ul>
