@import "colors";

body {
  background-color: $background-wash;
  color: $primary;
}

.wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  background-color: $primary_light; 
  flex-direction: column;
  align-items: stretch;
  border-radius: 5px;
}

a {
  color: $accent_light;
}

input[type=submit] {
  background-color: $accent-light;
  color: $accent_dark;
  border: 2px solid $accent_dark;
  border-radius: 3px;
}

header {
  text-align: center;
  background-color: $accent_dark;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
}

main {
  margin-top: 2em;
  flex: 1 0 100%;
  padding: 2em;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .wrapper {
    width: 70%;
  }
}
