body {
  background-color: #ccc;
}

.wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: stretch;
  border-radius: 5px;
}

header {
  text-align: center;
  background-color: #777;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
}

main {
  margin-top: 2em;
  flex: 1 0 100%;
  padding: 2em;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .wrapper {
    width: 70%;
  }
}
